@model RentACar_1.ViewModels.AddCarViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Car</title>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <h1>Add New Car</h1>
            <div class="row align-items-stretch no-gutters contact-wrap">
                <div class="col-md-12">
                    <div class="form h-100">
                        @using (Html.BeginForm("AddCar", "Owner", FormMethod.Post, new { @class = "mb-5", id = "contactForm", name = "contactForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="name" class="col-form-label">Brand *</label>
                                    @Html.TextBoxFor(m => m.Brand, new { @class = "form-control", id = "name", placeholder = "Brand" })
                                    @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="category" class="col-form-label">Category *</label>
                                    @Html.TextBoxFor(m => m.Category, new { @class = "form-control", id = "category", placeholder = "Category" })
                                    @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="year" class="col-form-label">Year *</label>
                                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control", id = "year", placeholder = "Year" })
                                    @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="description" class="col-form-label">Description *</label>
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "description", rows = "4", placeholder = "Description" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="fuelType" class="col-form-label">Fuel Type *</label>
                                    @Html.TextBoxFor(m => m.FuelType, new { @class = "form-control", id = "fuelType", placeholder = "Fuel Type" })
                                    @Html.ValidationMessageFor(m => m.FuelType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="power" class="col-form-label">Power *</label>
                                    @Html.TextBoxFor(m => m.Power, new { @class = "form-control", id = "power", placeholder = "Power" })
                                    @Html.ValidationMessageFor(m => m.Power, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="city" class="col-form-label">City *</label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "city", placeholder = "City" })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="registrationNumber" class="col-form-label">Registration Number *</label>
                                    @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control", id = "registrationNumber", placeholder = "Registration Number" })
                                    @Html.ValidationMessageFor(m => m.RegistrationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="pricePerDay" class="col-form-label">Price Per Day *</label>
                                    @Html.TextBoxFor(m => m.PricePerDay, new { @class = "form-control", id = "pricePerDay", placeholder = "Price Per Day" })
                                    @Html.ValidationMessageFor(m => m.PricePerDay, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="isAutomatic" class="col-form-label">Is Automatic *</label>
                                    <div>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsAutomatic, true) Yes
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsAutomatic, false) No
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IsAutomatic, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Add Car</button>
                                    <span class="submitting"></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
