@model RentACar_1.ViewModels.CarDetailViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags, CSS links, and title -->
</head>
<body>

    <div class="container">
        <div class="card">
            @using (Html.BeginForm("BookCar", "Car", FormMethod.Post, new { @class = "mb-4" }))
            {

                <img src="@Model.ImageUrl" class="card-img-top" alt="Car Image">
                <div class="card-body">
                    <h2 class="card-title">@Model.Brand @Model.Category</h2>
                    <div class="car-info">
                        <p><i class="fas fa-map-marker-alt"></i> City: @Model.City</p>
                        <p><i class="fas fa-calendar-alt"></i> Year: @Model.Year</p>
                        <p><i class="fas fa-cogs"></i> Is Automatic: @(Model.IsAutomatic ? "Yes" : "No")</p>
                        <p><i class="fas fa-gas-pump"></i> Fuel Type: @Model.FuelType</p>
                        <p><i class="fas fa-bolt"></i> Power: @Model.Power KW</p>
                        <p>From Date: @Model.FromDate</p>
                        <p>To Date: @Model.ToDate</p>
                        <input name="fromDate" value="@Model.FromDate" />
                        <input name="toDate" value="@Model.ToDate" />
                        <input type="hidden" name="carId" value="@Model.CarId" />
                    </div>
                    <p class="price"><i class="fas fa-dollar-sign"></i> Price Per Day: $@Model.PricePerDay</p>
                      <button id="bookNowBtn" class="bookNowBtn" type="submit">Book Now</button>

                
            
           
                
                <!-- Add more details as needed -->

                <div class="owner-info">
                    <!-- Owner information can be displayed here -->
                </div>
            </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>
