@model RentACar_1.ViewModels.CarIndexViewModel

<style>
	.filters-container {
		display: flex !important;
	}

	.model-search-content{ 
		postion: relative !important;
		bottom: 0 !important;
	}

	.col-md-12 {
		padding: 0 !important;
	}
</style>

@using (Html.BeginForm("FilterCars", "Car", FormMethod.Post, new { @class = "mb-4" }))
{
<div class="filters-container">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="model-search-content">
				<div class="row">
					<div class="col-md-offset-1 col-md-2 col-sm-12">
						<div class="single-model-search">
							<h2>Select Brand</h2>
							<div class="model-select-icon">
									@Html.DropDownListFor(m => m.Filters.Brand, Model.BrandList, "Select Brand", new { @class = "form-control" })
							</div><!-- /.model-select-icon -->
						</div>
							<div class="single-model-search">
								<h2>Select City</h2>
								<div class="model-select-icon">

									@Html.DropDownListFor(m => m.Filters.City, Model.CityList, "Select City", new { @class = "form-control" })
								</div><!-- /.model-select-icon -->
							</div>
					</div>
					<div class="col-md-offset-1 col-md-2 col-sm-12">
							<div class="single-model-search">
								<h2>Select Category</h2>
								<div class="model-select-icon">
									@Html.DropDownListFor(m => m.Filters.Category, Model.CategoryList, "Select Category", new { @class = "form-control" })
								</div><!-- /.model-select-icon -->
							</div>
						<div class="single-model-search">
							<h2>car condition</h2>
							<div class="model-select-icon">
								<select class="form-control">

									<option value="default">condition</option><!-- /.option-->

									<option value="something">something</option><!-- /.option-->

									<option value="something">something</option><!-- /.option-->
									<option value="something">something</option><!-- /.option-->

								</select><!-- /.select-->
							</div><!-- /.model-select-icon -->
						</div>
					</div>
					<div class="col-md-offset-1 col-md-2 col-sm-12">
						<div class="single-model-search">
							<h2>select From Date</h2>
							<div class="model-select-icon">

									@Html.TextBoxFor(m => m.Filters.FromDate, new { type = "date", @class = "form-control" })
							</div><!-- /.model-select-icon -->
						</div>
						<div class="single-model-search">
							<h2>select To Date</h2>
							<div class="model-select-icon">
									@Html.TextBoxFor(m => m.Filters.ToDate, new { type = "date", @class = "form-control" })
							</div><!-- /.model-select-icon -->
						</div>
					</div>
					<div class="col-md-2 col-sm-12">
						<div class="single-model-search text-center">
							<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
								search
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>