@model List<RentACar_1.Models.Booking>

<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .booking-card {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .booking-card h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .booking-details img {
        width: 100%;
       // border-radius: 8px;
        margin-bottom: 20px;
    }

    .car-info h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .car-info p {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .booking-dates {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
    }

    .no-bookings {
        text-align: center;
        color: #777;
        font-size: 18px;
        margin-top: 20px;
    }

    .title { 
        text-align: center;
        padding: 20px;
    }
</style>

<div class="container">
    <h1 class="title">My Bookings</h1>

    @if (Model.Any())
    {
        @foreach (var booking in Model)
        {
            <div class="booking-card">
                <h2>Booking ID: @booking.BookingID</h2>
                <div class="booking-details">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="@booking.Car.CarDetail.ImageUrl" alt="Car Image" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div class="car-info">
                                <h3>@booking.Car.CarDetail.Brand - @booking.Car.CarDetail.Category</h3>
                                <p><strong>Price Per Day:</strong> $@booking.Car.PricePerDay</p>
                                <p><i class="fas fa-map-marker-alt"></i> City: @booking.Car.CarDetail?.City</p>
                                <p><i class="fas fa-calendar-alt"></i> Year: @booking.Car.CarDetail?.Year</p>
                                <p><i class="fas fa-cogs"></i> @(@booking.Car.CarDetail?.IsAutomatic ?? false ? "Automatic" : "Manual")</p>
                                <p><i class="fas fa-gas-pump"></i> Fuel Type: @booking.Car.CarDetail?.FuelType</p>
                                <p><i class="fas fa-bolt"></i> Power: @booking.Car.CarDetail?.Power KW</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-dates">
                    <h3>Booking Dates</h3>
                    <p><strong>From:</strong> @booking.FromDate.ToShortDateString()</p>
                    <p><strong>To:</strong> @booking.ToDate.ToShortDateString()</p>
                </div>
            </div>
        }
    }
    else
    {
        <p class="no-bookings">No bookings found.</p>
    }
</div>
